/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header {
  background-color: rgb(103, 133, 161);
  height: 55px;
}

nav  * {
  float: left;
  width: 20%;
  list-style: none;
  color: white;
  display: block;
  margin: 10px 0 0 25px;
  
}
button {
  float: right;
  color: rgb(103, 133, 161);
  padding: 5px;

  
}

nav a +a {
  margin-left: -15%;

}

a + img {
  margin-left: 15%;
}

/* this starts the Top blue/grey section*/
header + section {
  clear: both;
  background-color: rgb(103, 133, 161);
  text-align: center;
  padding: 175px 0;
  color: white;
}

header + section > h1 {
  font-size: 5rem;
}
header + section > p {
  font-size: 3rem;
  padding: 0 200px;
}

header + section a {
  font-size: 2rem;
  padding: 0 200px;
  color: white;
}

/* this starts the Why section*/
header + section + section {
  text-align: center;
  padding: 250px 0;
}

header + section + section h2 {
  font-size: 3rem;
}

header + section + section > p {
  font-size: 2rem;
  padding: 0 200px;
}

/* this starts the main 2 picture section*/
main {
  background-color: rgb(169, 204, 236);
  text-align: center;
  
}

main section {
  float: left;
  width: 50%;
  height: 700px;
  background-color: rgb(169, 204, 236);
  padding-top: 100px;
  text-align: center;
  
}
main section h4 {
  font-size: 2.5rem;

}

main section p {
  font-size: 1.5rem;
  padding: 5px 50px;
}

main section a {
  border: 1px solid black;
  padding: 20px 50px;
}


/* this starts the volunteer with level ground section*/
body main + section {
  text-align: center;
  padding: 100px 0;
  clear: both;
}

body main + section h2 {
  font-size: 3rem;
}

body main + section p {
  font-size: 2rem;
  padding: 5px 200px;
}

body main + section a {
  border: 1px solid black;
  padding: 20px 50px;
}

/* this starts the footer section*/
footer {
  background-color: rgba(34, 33, 70, 0.849);
  color: white;
  padding: 10px;
  margin-bottom: 0;
 
}

footer li {
  float: left;
  width: 70px;
}

footer ul {
  list-style: none;
}

footer section > * {
 text-align: right;
}

footer + p {
  background-color: rgba(34, 33, 70, 0.849);
  color: white;
  height: 55px;
  margin: 0;
  border-top: 1px solid whitesmoke;
  padding-top: 5px;
}





/******************************************
/* ADDITIONAL STYLES
/*******************************************/
